<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="STYLESHEET" href="stylesheet.css"/>
    <title>User Creation</title>
</head>
<body>
<form action="addUser" class="theForm" method="post">
    <ul class="flex-outer">
        <li>
            <label for="firstName">First Name:</label>
            <input id="firstName" name="firstName"/>
        </li>
        <li>
            <label for="lastName">last Name:</label>
            <input id="lastName" name="lastName"/>
        </li>
        <li>
            <label for="userName">Username:</label>
            <input id="userName" name="username"/>
        </li>
        <li>
            <label for="password">password:</label>
            <input type="password" id="password" name="password"/>
        </li>
        <li>
            <input type="submit" class="submit" value="Create"/>
        </li>
    </ul>
</form>
</body>
</html>
