<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="STYLESHEET" href="stylesheet.css"/>
    <title>Currency Converter</title>
</head>
<body>
<div class="header"></div>
<form action="loginForm" class="theForm" method="post">
    <ul class="flex-outer">
        <li>
            <label for="userName">Username:</label>
            <input id="userName" name="username"/>
        </li>
        <li>
            <label for="password">password:</label>
            <input type="password" id="password" name="password"/>
        </li>
        <li>
            <input type="submit" class="submit" value="Login"/>
        </li>
    </ul>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="js/header.js"></script>
</body>
</html>